body
{
	margin:0;
}

#affichage
{
	position:absolute;
	width:100%;
}

input[type="range"]
{
	width:350px;
}

image {
	display: none;
}

#data_pdf
{
	display:none;
}

#data_transcript
{
	display:none;
}

#data_pagePdf
{
	display:none;
}

#data_alignement
{
	display:none;
}
