body
{
	margin:0;
}

#affichage
{
	position:absolute;
	width:100%;
}

input[type="range"]
{
	width:350px;
}


/* On cache les images des pagesde l'article, pour accélérer le chargement (peut-être désactivé) */

image {
	display: none;
}



/* On cache les données brutes */

#data_pdf
{
	display:none;
}

#data_transcript
{
	display:none;
}

#data_pagePdf
{
	display:none;
}

#data_alignement
{
	display:none;
}
