body
{
	margin:0;
}

#affichage
{
	position:absolute;
	width:100%;
}

input[type="range"]
{
	width:350px;
}

.matchingWords
{
	background-color:red;
}

image {
	display: inline;
}

#data_pdf, #data_pagePdf
{
	display:none;
}
