#paragraphe
{
	position:absolute;
	top:5px;
	right:5px;
	width:53%;
	border:solid red 1px;
}

#paragraphe>div>div
{
	margin:10px;
}

#transcript
{
	position:absolute;
	top:5px;
	left:5px;
	width:45%;
	border:solid red 1px;
}

#info_transcript
{
	margin:10px;
}

#data_pdf, #data_transcript, #data_alignement
{
	display:none;
}
